.about-body {
  margin: 1rem;
  max-width: 55rem;
}

.tmdb-flex {
  display: flex;
  justify-content: center;
}

.tmdb-logo-img {
  margin-top: 3rem;
  width: 67px;
  opacity: 50%;
}

.about-body p {
  margin-top: 1.5rem;
}
@media (min-width: 50rem) {
  .about-body {
    margin: auto;
  }
}
