body, html {
  margin: 0;
}

body {
  background-color: #0e2431;
  color: white;
}

.page-heading {
  margin-top: 6rem;
}

.main-nav {
  background-color: black;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 50;
  transition: .4s ease;
}

.nav-menu {
  display: none;
}

.menuNav {
  position: absolute;
  list-style: none;
  right: -60px;
  top: -70px;
}

.showMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0%;
  top: 64px;
  z-index: 100;
  background-color: hsl(0, 0%, 0%, 70%);
  padding: 0;
  width: 60vw;
  justify-content: space-evenly;
  height: 30vh;
  align-items: center;
  border: 1px solid white;
  border-top: none;
  transition: .4s ease;
  list-style: none;
}

.showMenu .burger-item a {
  font-size: 1.2rem;
}

.burger-item a {
  text-decoration: none;
  color: white;
}

.nav-mobile-menu {
  display: flex;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.site-title {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}


@media (min-width: 776px) {
  .page-heading {
    margin-top: 0rem;
  }

  .main-nav {
    background-color: white;
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 80px;
    position: unset;
    transition: .4s ease;
  }

  .main-nav .nav-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  .main-nav a {
    color: black;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  .nav-item {
    display: flex;
  }

  img .detail-poster {
    max-width: 100%;
  }
}

.movie {
  width: 275px;
  position: relative;
  top: 10%;
  overflow: hidden;
}

.movie img{
  max-width: 100%;
}

.movie-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 60px;
  margin: auto;
  max-width: 90%;
}

.synopsis {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  top: 0;
  background-color: hsl(202, 56%, 12%, 90%);
  color: white;
  padding: .5rem;
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

.movie:hover .synopsis {
  transform: translateX(0%);
}

.movie:hover {
  transform: scale(1.05);
  transition: .3s ease-in-out;
}

.movie-title {
  text-decoration: underline;
}

.heart-icon {
  color: red;
}

.heart-fill {
  fill: red;
  transition: .6s ease-in-out;
  scale: 1.1;
  transform: rotateY(-180deg)rotate(360deg);
  
}

.heart-nofill {
  fill: red;
  opacity: 50%;
  transition: .6s ease-in-out;
}

.detail-wrapper {
  position: absolute;
}

.detail-poster {
  width: 275px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 6rem;
}

.detail-content {
  padding: 1rem;
  
}





